# Database Configuration
# Template: postgresql://username:password@localhost:5432/database_name
DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@clslocalhost:5432/deathnote_db

# Security Configuration
SECRET_KEY=7b04870f058098c1995817c1809087c1809087c1809087c18090
ALGORITHM=HS256

# Application Settings
TRIGGER_THRESHOLD_SECONDS=30
WARNING_THRESHOLD_SECONDS=15
AUTOTRIGGER_POLL_SECONDS=5
